<section class="contact-page">
	<div class="inner">
		<form method="post" action="#" class="contact-page__wp">
			<h2 class="c-ttl__02">お問い合わせ</h2>
            <div class="contact-page__wp-list">
                <dl class="form-group">
                    <dt class="form-group__label"><span>*</span>氏名</dt>
                    <dd class="form-group__input">
                        <input type="text" class="form-control" value="三森 一輝" placeholder="三森 一輝">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label"><span>*</span>メールアドレス</dt>
                    <dd class="form-group__input">
                        <input type="email" class="form-control" value="kazukimimori@skillbridge.com" placeholder="kazukimimori@skillbridge.com">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label"><span>*</span>会社名</dt>
                    <dd class="form-group__input">
                        <input type="text" class="form-control" placeholder="会社名を入力してください">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label"><span>*</span>部署・役職</dt>
                    <dd class="form-group__input">
                        <input type="text" class="form-control" placeholder="会社名を入力してください">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label"><span>*</span>日中連絡可能な電話番号</dt>
                    <dd class="form-group__input">
                        <input type="text" class="form-control" placeholder="例：090-0000-0000">
                    </dd>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label">
                        エンジニア番号
                        <span class="tooltips js-tooltip">
                            <img src="<%= RELATIVE_PATH %>img/common/ico-tooltip.png" width="18" alt="">
                        </span>
                    </dt>
                    <dd class="form-group__input">
                        <input type="text" class="form-control" placeholder="例：123456">
                    </dd>
                    <div class="tooltips-txt">
                        <span class="arrow"></span>
                        エンジニアの候補が決まっている場合は入力してください
                    </div>
                </dl>
                <dl class="form-group">
                    <dt class="form-group__label">Note</dt>
                    <dd class="form-group__input">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Enter note" class="form-control form-control--textarea"></textarea>
                    </dd>
                </dl>
            </div>
			<button class="c-btn__submit c-btn__submit--contact">問い合わせる</button>
		</div>
	</div>
</section>

