<section class="engineer-page">
    <div class="inner inner--lg">
        <div class="engineer-page__flex c-flex">
            <h1 class="c-ttl__02">お気に入る</h1>
            <div class="box-filter">
                <div class="box-filter__keyword">
                    <div class="box-filter__keyword-input">
                        <input type="search" class="form-control" placeholder="キーワード">
                    </div>
                </div>
                <button class="c-btn__submit">検索</button>
            </div>
        </div>
        <ul class="engineer-page__list engineer-page__list--favorite">
			<li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
            <li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
            <li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
            <li class="engineer-page__list-item">
				<div class="engineer-page__list-img">
					<img src="<%= RELATIVE_PATH %>img/engineer/img-01.jpg" alt="Ren Takahashi">
				</div>
				<div class="engineer-page__list-info">
					<h2 class="engineer-page__list-name">Ren Takahashi</h2>
					<div class="engineer-page__list-desc">
						<p><span class="exp">25歳</span class="add"><span>Edogawa, Tokyo</span></p> 
						<p>日本で勤務：可</p>
					</div>
					<ul class="engineer-page__list-skills">
						<li>HTML</li>
						<li>CSS</li>
						<li>C++</li>
					</ul>
				</div>
			</li>
        </ul>
        <div class="engineer-page__load-more">
			<a href="#" class="c-btn__loadmore">Load more</a>
		</div>
    </div>
</section>