<section class="profile-user">
	<div class="inner inner--lg">
		<div class="alert-success">
			<span>登録が完了しました。</span>
			<a href="#" class="alert-success__close js-close-alert"></a>
		</div>
		<h1 class="c-ttl__02">ユーザー情報</h1>
		<div class="profile-user__wp">
			<div class="profile-user__left">
				<div class="profile-user__img">
					<div class="profile-user__img-thumb">
						<img src="<%= RELATIVE_PATH %>img/profile/img-user.png" alt="" width="">
					</div>
					<span class="profile-user__img-ico">
						<img src="<%= RELATIVE_PATH %>img/profile/ico-upload.png" alt="" width="">
					</span>
				</div>
				<h2 class="profile-user__name">三森 一輝</h2>
				<ul class="profile-user__control">
					<li class="profile-user__control-item"><a href="/profile/">プロフィール</a></li>
					<li class="profile-user__control-item is-active"><a href="/profile/changepass.html">パスワード変更</a></li>
					<li class="profile-user__control-item"><a href="/logout.html">ログアウト</a></li>
				</ul>
			</div>
			<div class="profile-user__right">
				<form action="#" method="post" class="profile-user__form profile-user__form--changepass">
					<h3 class="profile-user__form-ttl">プロフィール</h3>
					<dl class="form-group">
						<dt class="form-group__label"><span>*</span>現在のパスワード</dt>
						<dd class="form-group__input">
							<input type="password" class="form-control form-control--gray" value="" placeholder="現在のパスワード">
						</dd>
					</dl>
					<dl class="form-group">
						<dt class="form-group__label"><span>*</span>新しいパスワード</dt>
						<dd class="form-group__input">
							<input type="password" class="form-control form-control--gray" value="" placeholder="新しいパスワード">
						</dd>
					</dl>
					<dl class="form-group">
						<dt class="form-group__label"><span>*</span>新しいパスワード（確認）</dt>
						<dd class="form-group__input">
							<input type="password" class="form-control form-control--gray" value="" placeholder="新しいパスワード（確認）">
						</dd>
					</dl>
					<div class="profile-user__form-control">
						<button class="c-btn__submit c-btn__submit--gray">キャンセル</button>
						<button class="c-btn__submit js-changepass">編集</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
 

<div class="c-modal c-modal--engineer is-show" id="changepass-success">
	<div class="c-modal__wp">
		<form action="" method="post" class="c-modal__form">
			<div class="c-modal__ico">
				<img src="<%= RELATIVE_PATH %>img/common/check-circle.png" alt="">
			</div>
			<div class="c-modal__desc c-modal__desc--lg">
				パスワードを変更しました。
			</div>
			<div class="c-modal__control">
				<button class="c-modal__submit js-cancel">ログイン</button>
			</div>
		</form>
	</div>
</div>