<section class="register-page">
	<div class="inner">
		<form method="post" action="#" class="register-page__wp">
			<h2 class="register-page__ttl">メールアドレス</h2>
			<dl class="form-group">
				<dt class="form-group__label">メールアドレス</dt>
				<dd class="form-group__input">
					<input type="text" class="form-control has-value" value="kazukimimori@skillbridge.com">
				</dd>
			</dl>
			<dl class="form-group">
				<dt class="form-group__label"><span>*</span>パスワード</dt>
				<dd class="form-group__input">
					<input type="password" class="form-control" placeholder="パスワードを入力してください">
				</dd>
			</dl>
			<dl class="form-group">
				<dt class="form-group__label"><span>*</span>パスワード（確認）</dt>
				<dd class="form-group__input">
					<input type="password" class="form-control" placeholder="パスワードを入力してください">
				</dd>
			</dl>
			<button class="c-btn__submit">登録</button>
		</div>
	</div>
</section>

